{% extends "layouts/master.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- awal isi halaman -->
{% load custom_tags %}

<div class="col-md-12 col-lg-12 text-center">
  <h3><i>Asslamualai'kum</i></h3>
</div>
<div class="col-md-6 col-lg-6 text-center mx-auto">
  <h4 style="font-weight: 400;">Selamat Datang dalam Program Aplikasi Interface Data Mining Menggunakan Metode Elbow Pada Sekolah Madrasah
    Ibtidaiyah Swasta (MIS) Al-Falah Medan</h4>
</div>
<div class="col-md-12 col-lg-12 text-center mt-4">
  <h4>Silahkan Pergunakan Aplikasi Sebijak Mungkin !</h4>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block custom_js %}{% endblock custom_js %}